/* src/components/Statistics.css */
.stats-paper {
    background-color: #7fafeee4 !important; /* Light background color */
    border-radius: 12px; /* Rounded corners */
    padding: 16px; /* Spacing inside the paper */
    margin-top: 30px; /* Spacing from the top */
    margin-bottom: 30px; /* Spacing from the bottom */
    height:20%;
  }
  